.body{
    background-color: whitesmoke;
}

.header{
    text-align: center;
    background-color: #fff4d5;
    color: blue;
}

.header blockquote{
    background-color: yellow;
    border: 1px solid black ;
    color: black;   
}

.opsi ul{
    display: flex;
    padding-left: 540px;
}

.opsi ul li{
    list-style-type: none;
    padding: 5px;
}

.gambar{
    align-items: center;
    width: auto;
}

.gambar img{
    width: 18%;
}